:root {
    --clr-neutral-100: hsl(0 0% 100%);
    --clr-neutral-200: hsl(225, 100%, 98%);
    --clr-neutral-400: hsla(223, 23%, 55%, 1);
    --clr-neutral-800: hsl(223, 47%, 23%);

    --clr-light-400: hsl(0, 0%, 90%);
    --clr-light-800: hsl(0, 0%, 81%);

    --clr-dark-400: hsl(0, 0%, 24%);
    --clr-dark-800: hsl(0, 0%, 14%);

    --clr-primary-200: hsl(225, 100%, 94%);
    --clr-primary-300: hsla(245, 83%, 68%, 1);
    --clr-primary-400: hsl(245, 75%, 52%);

    --clr-success-300: hsla(145, 83%, 68%, 1);
    --clr-success-400: hsl(145, 75%, 52%);
    --clr-success-800: hsl(145, 60%, 40%);

    --clr-danger-300: hsla(350, 83%, 68%, 1);
    --clr-danger-400: hsl(350, 75%, 52%);
    --clr-danger-800: hsl(350, 47%, 23%);

    --clr-warning-300: hsla(55, 94%, 68%, 1);
    --clr-warning-400: hsl(55, 94%, 51%);
    --clr-warning-600: hsl(55, 92%, 47%);
    --clr-warning-800: hsl(55, 90%, 40%);

    --clr-info-400: hsl(220, 90%, 60%);
    --clr-info-600: hsla(220, 85%, 50%);

    --fs-300: 0.875rem;
    --fs-400: 1rem;
    --fs-700: 1.75rem;
    --fs-800: 2rem;

    --fw-400: 500;
    --fw-700: 700;
    --fw-800: 800;
    --fw-900: 900;
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

body {
    font-size: var(--fs-400);
    font-weight: var(--fw-400);
    line-height: 1.6;
    color: var(--clr-neutral-400);
}

h1,
h2,
h3 {
    line-height: 1.1;
}

h1 {
    font-size: var(--fs-800);
    color: var(--clr-neutral-800);
    font-weight: var(--fw-900);
}

h2 {
    font-size: var(--fs-700);
    color: var(--clr-neutral-800);
    font-weight: var(--fw-900);
}

/* composition */

.grid-flow {
    display: grid;
    gap: var(--gap, 1rem);
}

.flex-row {
    display: flex;
    flex-wrap: wrap;
    gap: var(--gap, 1rem);
}

/* utility */

.block {
    height: 6em;
    width: 6em;
}

.padding-24 {
    padding: 1.5rem;
}

.padding-top-24 {
    padding-top: 1.5rem;
}

.padding-bottom-24 {
    padding-bottom: 1.5rem;
}

.padding-right-24 {
    padding-right: 1.5rem;
}

.padding-left-24 {
    padding-left: 1.5rem;
}

.padding-48 {
    padding: 3rem;
}

.padding-top-48 {
    padding-top: 3rem;
}

.padding-bottom-48 {
    padding-bottom: 3rem;
}

.padding-right-48 {
    padding-right: 3rem;
}

.padding-left-48 {
    padding-left: 3rem;
}

.margin-24 {
    margin: 1.5rem;
}

.margin-top-24 {
    margin-top: 1.5rem;
}

.margin-bottom-24 {
    margin-bottom: 1.5rem;
}

.margin-right-24 {
    margin-right: 1.5rem;
}

.margin-left-24 {
    margin-left: 1.5rem;
}

.margin-48 {
    margin: 3rem;
}

.margin-top-48 {
    margin-top: 3rem;
}

.margin-bottom-48 {
    margin-bottom: 3rem;
}

.margin-right-48 {
    margin-right: 3rem;
}

.margin-left-48 {
    margin-left: 3rem;
}
.text-neutral-400 {
    color: var(--clr-neutral-400);
}

.text-neutral-800 {
    color: var(--clr-neutral-800);
}

.bg-neutral-100 {
    background-color: var(--clr-neutral-100);
}

.bg-neutral-200 {
    background-color: var(--clr-neutral-200);
}

.bg-primary {
    background: var(--clr-primary-200);
}

.bg-info {
    background: var(--clr-info-600);
}

.text-align {
    text-align: start;
}

.text-align-left {
    text-align: left;
}

.text-align-center {
    text-align: center;
}

.text-align-right {
    text-align: end;
}

.fw-bold {
    font-weight: var(--fw-700);
}

.fw-extra-bold {
    font-weight: var(--fw-900);
}

.br-1 {
    border-radius: 0.5rem;
}

.br-2 {
    border-radius: 1rem;
}

.push-right {
    margin-left: auto;
}

.push-left {
    margin-right: auto;
}

.justify-center {
    justify-content: center;
}

a,
.link {
    cursor: pointer;
    background: transparent;
    border: 0;
    color: var(--clr-primary-400);
    text-decoration: underline;
    font-weight: var(--fw-700);
}

a:hover,
a:focus,
.link:hover,
.link:focus {
    color: var(--clr-primary-300);
    text-decoration: none;
}

/* block */

.btn {
    cursor: pointer;
    text-decoration: none;
    color: var(--clr-neutral-100);
    font-weight: var(--fw-700);
    border: 0;
    border-radius: 0.5rem;
    background: transparent;
    padding: 1em 2em;
}

.btn-primary {
    background: var(--clr-primary-400);
}

.btn-primary:hover,
.btn-primary:focus {
    background: var(--clr-primary-300);
}

.btn-secondary {
    background: var(--clr-neutral-400);
}

.btn-secondary:hover,
.btn-secondary:focus {
    background: var(--clr-neutral-800);
}

.btn-success {
    background: var(--clr-success-400);
    color: var(--clr-neutral-800);
}

.btn-success:hover,
.btn-success:focus {
    background: var(--clr-success-300);
}

.btn-danger {
    background: var(--clr-danger-400);
}

.btn-danger:hover,
.btn-danger:focus {
    background: var(--clr-danger-300);
}

.btn-warning {
    background: var(--clr-warning-400);
    color: var(--clr-neutral-800);
}

.btn-warning:hover,
.btn-warning:focus {
    background: var(--clr-warning-600);
}

.btn-info {
    background: var(--clr-info-400);
}

.btn-info:hover,
.btn-info:focus {
    background: var(--clr-info-600);
}

.btn-light {
    background: var(--clr-light-400);
    color: var(--clr-neutral-800);
}

.btn-light:hover,
.btn-light:focus {
    background: var(--clr-light-800);
}

.btn-dark {
    background: var(--clr-dark-400);
}

.btn-dark:hover,
.btn-dark:focus {
    background: var(--clr-dark-800);
}

.hero-title {
    padding-bottom: 0.25em;
    word-wrap: break-word;
}

.hero-image {
    max-width: 80vh;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: auto\9;
    height: auto;
}

@media only screen and (max-width: 1507px) {
    .hero-header {
        flex-wrap: wrap;
    }
}

@media only screen and (max-width: 1200px) {
    .hero {
        margin: 0;
    }
}

.card {
    overflow: hidden;
    max-width: 30rem;
}

.card-image {
    height: auto;
    width: 480;
}